<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Bienvenido devuelta, <%= user.full_name %></h1>
    <br>
    <img src="<%= user.avatar %> " alt="User avatar">
    <br>
    <a href="/user/edit_profile">Edit profile</a>
    <br>
    <a href="/user/logout">Logout</a>
    <br>
    <form action="/user/delete_account?_method=DELETE" method="POST">
        <button type="submit">Delete account</button>
    </form>
</body>
</html>